<div class="section py-28 w-full scree grid md:grid-cols-2 text-gray-800">
    <div class="subsec flex-none overflow-hidden max-h-96">
      <img class="w-full" src="assets/images/pilaf2.jpg" alt="" />
    </div>
    <div class="subsec my-auto p-8">
      <div class="title font-semibold text-3xl mb-5">What is paleo pilaf crust made out of?</div>
      <div class="desc text-lg">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque totam soluta alias! Accusantium veritatis tenetur ducimus sunt, nobis in soluta.
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ab corrupti consectetur sapiente adipisci incidunt ducimus architecto reprehenderit sint laborum mollitia.
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quam voluptas eligendi maxime laudantium? Omnis sit quos, inventore molestias nemo temporibus!
      </div>
    </div>
  </div>