<div class="section font-semibold px-16 fixed w-full top-0 flex header_section bg-gray-200 shadow z-10">
    <div class="sub_head ml-auto flex space-x-8 py-4 my-auto">
      <a class="hover:text-yellow-400" routerLinkActive="text-yellow-400" routerLink="/home">Home</a>
      <a class="hover:text-yellow-400" routerLinkActive="text-yellow-400"  routerLink="/recept">Recepts</a>
      <a class="hover:text-yellow-400" routerLinkActive="text-yellow-400"  routerLink="/contact">Contacts</a>
      <a class="hover:text-yellow-400" routerLinkActive="text-yellow-400"  routerLink="/about">About</a>
    </div>
  </div>